
  <div class="row">
    <p style="text-align: left; font-size: 15px; color: black;""><strong>Shipping App</strong></p>
    <hr class="separator">
    <div class="text-center">
      <div>
        <h1 style="text-align: center; font-size: 25px; color: black;">Nuevo Mensaje</h1>
        <p style="text-align: center; font-size: 17px; color:black;">Acerca de tu aviso: <i><%= @publication.title %></i></p>
      </div>
      <div style="text-align: center; border: 1px solid darkgray; background-color: #f7f7f7;">
        <p style="font-size: 15px; color: black"><strong><%= @name_sent %></strong></p>
        <p style="font-size: 15px; color: black"><%= @phone_sent %></p>
        <p style="font-size: 15px; color: black"><%= @email_sent %></p>
        <p style="font-size: 15px; color: black"><%= @message_sent %></p>
      </div>
    </div>
  </div>
