<!-- Formulario de New Shipping -->
<div class="col-md-6">
  <div class="row">
    <div class="col-md-offset-2 col-md-9">
      <%= form_for(@publication, html: { multipart: true, class:"form-horizontal", id: 'form-new-publication' }) do |f| %>
        <% if publication.errors.any? %>
        <div class="alert alert-danger text-center">
          <h3><strong>Oh No!</strong></h3>
          <p>Ha ocurrido un error</p>
          <ul>
            <% publication.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <!-- -->
        <%  %>
        <h3 class="subtitle-form-shipping text-center">Ingresa los datos de tu Envío</h3>
        <br>
        <div class="form-group">
          <%= label :category, "Categoría" %>
          <%= f.collection_select :category_id, @categories, :id, :name, {prompt: "Escoge una categoría"}, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= label :type, "Tipo de Envio" %>
          <%= f.collection_select :type_id, @types, :id, :name, {prompt: "Escoge un tipo de envio"}, class: 'form-control', required: true %>
        </div>

        <div class="form-group">
          <%= label :title, "Título" %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Ej: Envio paquete Santiago-Conce", required: true %>
        <% if publication.errors[:title].any? %>
          <span class="label label-danger">
            <% publication.errors[:title].each do |message| %>
              <%= message %>
            <% end %>
          </span>
        <% end %>
        </div>


        <div class="card">
          <div class="card-header">
            Dirección Origen
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">

              <div class="form-group">
                <%= label :address, "Dirección Origen" %>
                <%= f.text_field :address, class: 'form-control', placeholder: "Ej: Alcántara 99", required: true %>
              </div>
              <div class="form-group">
                <%= f.label :region_id, "Región Origen" %>
                <%= f.collection_select :region_id, @regions, :id, :name, {prompt: "Selecciona una Región de Origen"}, class: 'form-control', required: true %>
              </div>
              <div class="form-group" id="communes">
                <%= f.label :commune_id, "Comuna Origen" %>
                <%= f.grouped_collection_select :commune_id, Region.order(:name), :communes, :name, :id, :name, {}, class: 'form-control' %>
              </div>

            </blockquote>
          </div>
        </div>





        <div class="form-group">
          <%= label :address2, "Dirección Destino" %>
          <%= f.text_field :address2, class: 'form-control', placeholder: "Ej: Diego de Almagro 1992", required: true %>
        </div>
        <div class="form-group">
          <%= f.label :region2_id, "Región Destino" %>
          <%= f.collection_select :region2_id, @regions, :id, :name, {prompt: "Selecciona una Región de Destino"}, class: 'form-control', required: true %>
        </div>
        <div class="form-group" id="communes2">
          <%= f.label :commune2_id, "Comuna Destino" %>
          <%= f.grouped_collection_select :commune2_id, Region.order(:name), :communes, :name, :id, :name, {}, class: 'form-control' %>
        </div>



        <div class="form-group">
          <%= f.fields_for :publication_attachments do |p| %>
            <%= p.label :photo, "Imágenes" %>
            <%= p.file_field :photo, multiple: true, name: "publication_attachments[photo][]" %>
          <% end %>
        </div>
        <div class="form-group">
          <%= label :width, "Ancho" %>
          <%= f.select(:width, options_for_select([['1 Ancho', '1'], ['2 Ancho', '2'],['3 Ancho', '3'],['4 o más Ancho', '4']]),{},class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= label :length, "Largo" %>
          <%= f.select(:length, options_for_select([['1 Largo', '1'], ['2 Largo', '2'],['3 Largo', '3'],['4 o más Largo', '4']]),{},class: 'form-control') %>
        </div>
        <div class="form-group">
          <%= label :height, "Alto" %>
          <%= f.select(:height, options_for_select([['1 Alto', '1'], ['2 Alto', '2'], ['3 Alto', '3'], ['4 o más Alto', '4']]),{},class: 'form-control') %>
        </div>

        <div class="form-group">
          <%= label :description, "Descripción" %>
          <%= f.text_area :description, class: 'form-control', placeholder: "Ej: Necesito transportar todo lo que hay en mi pieza de 3x4 mts.", required: true %>
        </div>
        <div class="form-group" id="precio-pub">
          <%= label :price, "Precio" %>
          <%= f.number_field :price, class: 'form-control', placeholder: "Ej: 35000", required: true %>
        </div>

        <script>
          $("#publication_category_id").change(function() {
            var valor_categoria = $("#publication_category_id").val();
            console.log(valor_categoria)
            if (valor_categoria == 3) {
             $("#precio-pub").html('<label for="price_Precio">Precio Mensual</label><input class="form-control" placeholder="Ej: 500.000" required="required" type="number" name="publication[price]" id="publication_price" aria-required="true">')
            }
            if (valor_categoria == 4) {
              $("#precio-pub").html('<label for="price_Precio">Precio Venta</label><input class="form-control" placeholder="Ej: 3000 UF" required="required" type="number" name="publication[price]" id="publication_price" aria-required="true">');
            }
          });
        </script>
        <div class="form-group actions">
          <div class="row">
            <div class="col-md-offset-2 col-md-3">
              <%= link_to 'Volver', publications_path, class: 'btn btn-danger' %>
            </div>
            <div class="col-md-1">
              <%= f.submit 'Crear Publicación', class: 'btn btn-success', id: 'new-publication' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <script>
        function validateForm(){
          $("#form-new-publication").validate({
            debug: false,
            rules: {
              title: {required: true},
              category: {required: true},
              type: {required: true},
              address: {required: true},
              region: {required: true},
              commune: {required: true},
              address2: {required: true},
              region2: {required: true},
              commune2: {required: true},
              description: {required: true},
              price: {required: true}
            },
            messages: {
              title: "Debes ingresar un título",
              category: "Debes seleccionar una categoría",
              type: "Debes seleccionar un tipo de envio",
              address: "Ingresa tu dirección",
              region: "Selecciona una región Origen",
              commune: "Selecciona una comuna Origen",
              address2: "Ingresa tu dirección Destino",
              region2: "Selecciona una región Destino",
              commune2: "Selecciona una comuna Destino",
              description: "Debes ingresar una descripción",
              price: "Ingres un precio valido"
            }
          });
          $("#new-publication").click(function(event) {
            event.stopPropagation();
            validateForm()
          });
        }
       $(document).on('page:load', validateForm());
      </script>
  </div>
</div>
